* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #ff444f;
    font-weight: bold;
    font-size: 15px;
    background: #87f2b8;
}

#container {
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    top: 40%; 
    margin-left: -50%;
}

#hello {
    font-size: 50px;
    font-weight: bold; 
    line-height: normal;
    text-align: center;
    letter-spacing: -1px;
    margin: 0 auto;
    color: #ff444f;
}

#om {
    position: fixed;
    bottom: 25px;
    right: 40px;
    font-size: 15px;
    color: #3db48b;
}

.social {
	position: fixed;
	top: 350px;
	height: 38px;
	width: 42px;	
	padding-top: 4px;
	outline: none;
	text-decoration: none;

	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #3db48b;
    cursor: pointer;

	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;  
}

#mail {
 
    left: 500px;
    margin-left: 0;
    background: url(../img/mail.png) no-repeat center center;
    background-size: 40px 40px;
}

#twitter {
    left: 550px;
    margin-left: 10px;
    background: url(../img/twitter.png) no-repeat center center;
    background-size: 40px 40px;
}

#github {
    left: 600px;
    margin-left: 20px;
    background: url(../img/github.png) no-repeat center center;
    background-size: 40px 40px;
}

#music {
    left: 650px;
    margin-left: 30px;
    background: url(../img/music1.png) no-repeat center center;
    background-size: 40px 40px;
}


#mail:hover,
#twitter:hover,
#github:hover,
#music:hover {
    border: 2px solid #ff444f;
}

::-webkit-selection { background: transparent; color: #ffaaaf; }
::-moz-selection { background: transparent; color: #ffaaaf; }
::selection { background: transparent; color: #ffaaaf; }