<!doctype html>
<head>
    <title>Nishad</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

<div id="sidebar">
	<img src="{{ url_for('static', filename='img/cups-cropped.jpeg') }}"></img>
	<h2>Nishad Trivedi</h2>
	<p><em>{{ quote }}</em></p>
	<div class="sidebar-links">
		<p><img src="{{ url_for('static', filename='img/location.png') }}"></img>Minneapolis, MN</p> 
		<p><img src="{{ url_for('static', filename='img/writing.png') }}"></img><a href="#">Writing</a></p> 
		<p><img src="{{ url_for('static', filename='img/twitter.png') }}"></img><a href="https://twitter.com/nishadtrivedi">Twitter</a></p>
		<p><img src="{{ url_for('static', filename='img/github.png') }}"></img><a href="https://github.com/trivedi">Code</a></p>
		<p><a href="{{ url_for('templates', filename='about.html') }}">Colophon</a></p>
	</div>
</div>

<div id="reading">
	<h3>Currently reading</h3>
	
	<ul>
		{% for book in currently_reading %}
		    <li>{{ book }}</li>
		{% endfor %}
	</ul>
	<br>

	<h3>Recently read</h3>
	<ul>
	{% for book in read %}
	    <li>{{ book }}</li>
	{% endfor %}
	</ul>
</div>


</body>
</html>
