<!doctype html>
<head>
    <title>Nishad</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

<div id="sidebar">
	<img id="sidebar-img" src="{{ url_for('static', filename='img/cups.jpg') }}"></img>
	<h2>Nishad Trivedi</h2>
	<p><a href="https://twitter.com/nishadtrivedi">Twitter</a></p>
	<p><a href="https://github.com/trivedi">Code</a></p>
</div>

<div id="reading">
	<h3>Currently reading</h3>
	{% for book in currently_reading %}
	    <p>{{ book }}</p>
	{% endfor %}
	<br>

	<h3>Recently read</h3>
	{% for book in read %}
	    <p>{{ book }}</p>
	{% endfor %}
</div>


</body>
</html>
